---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "search";
}

const { activeNav } = Astro.props;
---

<header>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap"
    rel="stylesheet"
  />
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo whitespace-nowrap">
        {
          LOGO_IMAGE.enable ? (
            <img
              src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
              alt={SITE.title}
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
            />
          ) : (
            
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <!-- <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button> -->
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              <!-- Posts -->
              <svg viewBox="0 0 32 32" fill="#000000" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" xmlns="http://www.w3.org/2000/svg">
                <path d="M 27 6 C 27 4.674 26.473 3.402 25.536 2.464 C 24.598 1.527 23.326 1 22 1 C 18.514 1 13.486 1 10 1 C 8.674 1 7.402 1.527 6.464 2.464 C 5.527 3.402 5 4.674 5 6 C 5 11.322 5 20.678 5 26 C 5 27.326 5.527 28.598 6.464 29.536 C 7.402 30.473 8.674 31 10 31 C 13.486 31 18.514 31 22 31 C 23.326 31 24.598 30.473 25.536 29.536 C 26.473 28.598 27 27.326 27 26 L 27 6 Z M 12 26 L 17 26 C 17.552 26 18 25.552 18 25 C 18 24.448 17.552 24 17 24 L 12 24 C 11.448 24 11 24.448 11 25 C 11 25.552 11.448 26 12 26 Z M 11 20 L 21 20 C 21.552 20 22 19.552 22 19 C 22 18.448 21.552 18 21 18 L 11 18 C 10.448 18 10 18.448 10 19 C 10 19.552 10.448 20 11 20 Z M 11 14 L 21 14 C 21.552 14 22 13.552 22 13 C 22 12.448 21.552 12 21 12 L 11 12 C 10.448 12 10 12.448 10 13 C 10 13.552 10.448 14 11 14 Z M 11 8 L 21 8 C 21.552 8 22 7.552 22 7 C 22 6.448 21.552 6 21 6 L 11 6 C 10.448 6 10 6.448 10 7 C 10 7.552 10.448 8 11 8 Z" style="fill: rgb(69, 69, 69); stroke-width: 2px; stroke: rgb(209, 209, 209);" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, 0, 0)"/>
                <g id="Icon" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, 0, 0)"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              <!-- Tags -->
              <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
                <path d="M 231.073 172.432 C 231.073 166.081 229.361 160.64 225.692 155.805 L 120.773 26.414 C 117.105 21.879 111.968 17.947 105.853 14.622 C 99.494 11.298 93.871 9.786 88.734 9.786 L 27.592 9.786 C 22.456 9.786 18.056 12.206 14.386 16.739 C 10.716 21.275 8.759 26.717 8.759 33.067 L 8.759 108.344 C 8.759 114.693 9.981 121.947 12.671 129.504 C 15.363 137.365 18.297 143.412 22.211 147.947 L 127.131 277.638 C 130.799 282.174 135.201 284.288 140.336 284.288 C 145.472 284.288 149.873 282.174 153.787 277.638 L 225.69 188.757 C 229.118 184.22 231.073 178.781 231.073 172.432 Z M 68.923 84.459 C 65.256 88.994 60.854 91.108 55.718 91.108 C 50.582 91.108 46.18 88.994 42.513 84.459 C 38.845 79.923 37.13 74.484 37.13 68.132 C 37.13 61.782 38.842 56.343 42.513 51.81 C 46.18 47.274 50.582 45.156 55.718 45.156 C 60.854 45.156 65.258 47.271 68.923 51.81 C 72.591 56.343 74.304 61.782 74.304 68.132 C 74.548 74.482 72.594 79.923 68.923 84.459 Z M 281.944 155.805 L 177.025 26.414 C 173.357 21.879 168.22 17.947 162.105 14.622 C 155.746 11.298 150.123 9.786 144.986 9.786 L 111.968 9.786 C 117.105 9.786 122.976 11.298 129.09 14.622 C 135.449 17.947 140.338 21.574 144.006 26.414 L 248.927 155.805 C 252.595 160.64 254.308 166.085 254.308 172.432 C 254.308 178.781 252.597 184.22 248.927 188.757 L 180.203 274.011 C 183.137 277.638 185.828 280.362 188.028 282.174 C 190.231 283.986 193.165 284.59 196.588 284.59 C 201.725 284.59 206.125 282.474 210.039 277.94 L 281.943 188.757 C 285.61 184.224 287.322 178.781 287.322 172.432 C 287.325 166.081 285.612 160.64 281.944 155.805 Z M 281.944 155.805" style="fill: rgb(70, 70, 70); stroke-dashoffset: -13px; stroke: rgb(209, 209, 209); stroke-width: 17px;"/>
              </svg>
            </a>
          </li>

          <li>
            <LinkButton
              href="/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Search"
            >
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M 1.25 9 C 1.25 4.72 4.72 1.25 9 1.25 C 13.28 1.25 16.75 4.72 16.75 9 C 16.75 13.28 13.28 16.75 9 16.75 C 4.72 16.75 1.25 13.28 1.25 9 Z" style="stroke-width: 2px; stroke: rgb(209, 209, 209); fill: rgb(70, 70, 70); pointer-events: none;" transform="matrix(1, 0, 0, 1, 8.881784197001252e-16, 0)"/>
              <path d="M 12.659 13.373 C 12.939 12.839 14.632 13.445 15.03 13.723 L 20.407 16.759 C 21.298 17.383 21.696 18.655 20.927 19.424 L 20.5 20.009 C 19.731 20.778 18.715 22.042 18.091 21.151 L 13.9 15.205 C 13.622 14.808 13.114 13.371 13.457 13.429 L 12.659 13.373 Z" style="stroke: rgb(209, 209, 209); fill: rgb(70, 70, 70); stroke-linecap: round; paint-order: stroke markers; fill-rule: evenodd; stroke-width: 5px;" transform="matrix(1, 0, 0, 1, 8.881784197001252e-16, 0)"/>
              <ellipse style="fill: rgb(70, 70, 70); stroke: rgb(209, 209, 209); stroke-width: 0px;" cx="9.329" cy="9.165" rx="6.516" ry="6.599" transform="matrix(1, 0, 0.01378599926829338, 1, -0.26984399959212446, -0.005860000470430116)"/>
            </svg>
            <!-- <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg> -->
              <span class="sr-only">Search</span>
            </LinkButton>
          </li>
          {
            SITE.lightAndDarkMode && (
                    <li>
                      <button
                        id="theme-btn"
                        class="focus-outline"
                        title="Toggles light & dark"
                        aria-label="auto"
                        aria-live="polite"
                      >
                   <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="moon-svg">
        <path d="M12.0557 3.59974C12.2752 3.2813 12.2913 2.86484 12.0972 2.53033C11.9031 2.19582 11.5335 2.00324 11.1481 2.03579C6.02351 2.46868 2 6.76392 2 12C2 17.5228 6.47715 22 12 22C17.236 22 21.5313 17.9764 21.9642 12.8518C21.9967 12.4664 21.8041 12.0968 21.4696 11.9027C21.1351 11.7086 20.7187 11.7248 20.4002 11.9443C19.4341 12.6102 18.2641 13 17 13C13.6863 13 11 10.3137 11 6.99996C11 5.73589 11.3898 4.56587 12.0557 3.59974Z" style="fill: rgb(70, 70, 70); stroke: rgb(209, 209, 209); stroke-width: 2px;"/>
      </svg>
                        
      <svg viewBox="0 0 32 32" fill="#000000" xmlns="http://www.w3.org/2000/svg" id="sun-svg">
        <path d="M23.395 14.106c2.958-1.383 2.828-6.068 5.758-5.884-4.125-2.74-4.019 3.106-9.089 1.235 1.107-3.068-2.292-6.286-0.091-8.227-4.855 0.979-0.645 5.039-5.555 7.301-1.384-2.958-6.068-2.828-5.884-5.758-2.74 4.125 3.106 4.019 1.235 9.089-3.068-1.107-6.286 2.292-8.227 0.091 0.979 4.855 5.039 0.645 7.301 5.555-2.958 1.384-2.828 6.068-5.758 5.884 4.125 2.74 4.019-3.106 9.089-1.235-1.107 3.068 2.292 6.286 0.091 8.227 4.855-0.979 0.645-5.039 5.555-7.301 1.384 2.958 6.068 2.828 5.884 5.758 2.74-4.125-3.106-4.019-1.235-9.089 3.068 1.107 6.286-2.292 8.226-0.091-0.979-4.855-5.039-0.645-7.301-5.555z" style="fill: rgb(70, 70, 70); stroke: rgb(209, 209, 209); stroke-width: 3px;" transform="matrix(1, 0, 0, 1, 0, -2.220446049250313e-16)"/>
      </svg>
                      </button>
                    </li>
                  )
        }
          <!-- {
            SITE.lightAndDarkMode && (
              <li>
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              </li>
            )
          } -->
        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-3;
  }
  .logo {
    @apply absolute py-0 text-xl font-semibold sm:static sm:text-2xl ;
  }
  /* .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  } */

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-0 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-3 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto mr-3 ml-2 mt-0;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-8;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  /* nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  } */
  #theme-btn {
    @apply p-3 ml-1 sm:p-0 mt-0.5;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }
/* 
  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  } */
</style>

<!-- <script>
  function toggleNav() {
    // Toggle menu
    // const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      // const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      // menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      // menuBtn.setAttribute(
      //   "aria-label",
      //   menuExpanded ? "Open Menu" : "Close Menu"
      // );
      menuItems?.classList.toggle("display-none");
    });
  }

  toggleNav();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", toggleNav);
</script> -->
